.board-details .image {
    float: left;
    width: 288px;
    padding: 0 1rem 1rem;
}

.card-header p {
    margin: 0;
    font-size: 0.8rem;
}

.card-deck {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card-deck h3 {
    font-size: 1.4rem;
}

.card-deck .buttons {
    margin-bottom: 1rem;
}

.card {
    min-width: 21rem;
}

.download-tags {
    margin: 0.3rem;
    font-weight: bold;
}

.download-tag {
    font-weight: normal;
    display: inline-block;
    border: 1px dotted grey;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
}
