.card .img {
    width: auto;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.servers {
    text-align: center;
}

.card .img-debian {
    background-image: url('/images/debian.png');
}

.card .img-aws {
    background-image: url('/images/aws-icon.svg');
}

section.documentation {
    text-align: center;
    margin: 4rem 0;
    font-size: 1.5rem;
}
