.core-team {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.core-team li {
    list-style-type: none;
    width: 50%;
    clear: both;
    box-sizing: border-box;
    padding-right: 1em;
    min-width: 320px;
    margin: 0.3em 0;
}

.core-team .icon img {
    display: block;
    width: 96px;
    float: left;
    margin: 0.3em 0.5em 2em 0;
}

.core-team .name {
    font-weight: bold;
}

.core-team .role {
    font-size: 0.7em;
    font-style: italic;
}

.core-team address {
    font-size: 0.7em;
}
