main {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    max-width: 100%;
}

main section {
    text-align: center;
    padding: 4rem 0;
}

main section .container {
    max-width: 764px;
}

.screenshot {
    -webkit-mask-image: -webkit-gradient(
        linear, center top, center bottom,
        color-stop(0.00,  rgba(0,0,0,1)),
        color-stop(0.35,  rgba(0,0,0,1)),
        color-stop(0.50,  rgba(0,0,0,1)),
        color-stop(0.55,  rgba(0,0,0,1)),
        color-stop(1.00,  rgba(0,0,0,0)));
}

main section h1 {
    color: var(--primary-color);
    /* Override default h1 style meant for all pages */
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 2.5rem;
    font-family: "LatoLatinWeb";
    font-style: normal;
}

main section:nth-child(even) {
    background: #f4f4f4;
}

.section-privacy .blockquote::before {
    content: "»";
    position: absolute;
    color: #dcf6de;
    left: -4%;
    top: 0;
    transform: scale(8);
    z-index: -1;
}

.section-privacy .blockquote {
    text-align: left;
    margin: 0 auto;
    max-width: 75%;
    position: relative;
    z-index: 1;
    color: var(--green);
}

.section-privacy .blockquote-footer:before {
    content: none;
}

.section-privacy .blockquote-footer {
    text-align: right;
    color: var(--green);
    font-weight: bold;
    font-size: 100%;
}

.section-privacy h1,
.section-features h1,
.section-privacy .logo,
.section-features .logo {
    color: var(--green);
}

.section-debian h1,
.section-community h1 {
    color: var(--grey);
}

.section-debian a,
.section-community a {
    color: rgb(100, 100, 100);
}

.section-get h1 {
    font-size: 1.8em;
}

.logo-container {
    margin-bottom: 3rem
}

.fa.logo {
    font-size: 8rem;
}

.section-features {
    background: linear-gradient(to bottom, white, 5% #f4f4f4);
    display: block;
}

.section-features > h1 {
    height: 5rem;
    font-size: 2.5rem;
}

.section-features .more-link {
    font-size: 1.5rem;
    position: relative; /* Draw above the lines */
    z-index: 2;
}
