{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/terminal.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/cloud.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/cloud-debian.css'|asseturl }}">
{% endblock %}

{% block content %}
  <section class="documentation">
    <p>
      <a href="https://wiki.debian.org/FreedomBox/Cloud#On_other_cloud_providers">
        <span class="fa fa-book fa-fw" aria-hidden="true"></span>
        {{ _("Documentation") }}</a>
    </p>
  </section>

  <section class="terminal-commands">
    <p>
      {% trans trimmed %}
        SSH into your Debian (10.0 - Buster or above) cloud instance and run the
        following commands.
      {% endtrans %}
    </p>

    <div class="terminal">
      <div class="top">
        <div class="btns">
          <span class="fa fa-close"></span>
        </div>
        <div class="title">admin@FreedomBox:~</div>
      </div>
      <pre class="body">
$ sudo apt-get update
$ sudo DEBIAN_FRONTEND=noninteractive apt-get install freedombox
      </pre>
    </div>
  </section>

  <section class="cloud-providers">
    <h4>
      {% trans trimmed %}
        FreedomBox works on all cloud service providers offering Debian
      {% endtrans %}
    </h4>

    <div>
      <!--
        Source: https://commons.wikimedia.org/wiki/File:Logo-OVH.svg
        License: Creative Commons Attribution-Share Alike 4.0 International
        license (https://creativecommons.org/licenses/by-sa/4.0/deed.en)
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.ovh.com/" class="provider-logo"
         title="{{ _("OVH") }}">
        <img src="{{ '/images/ovh_logo.svg'|asseturl }}" height="60px"/>
      </a>
      <!--
        Source: https://www.exoscale.com/press/
        License: Public Domain
        Notes: This image consists only of simple geometric shapes or text.
        It does not meet the threshold of originality needed for copyright
        protection, and is therefore in the public domain.
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.exoscale.ch/" class="provider-logo"
         title="{{ _("Exoscale") }}">
        <img src="{{ '/images/exoscale_logo.svg'|asseturl }}" height="60px"/>
      </a>
      <!--
        Source: https://www.linode.com/press https://www.linode.com/logos
        License: Public Domain
        Notes: This image consists only of simple geometric shapes or text.
        It does not meet the threshold of originality needed for copyright
        protection, and is therefore in the public domain.
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.linode.com/" class="provider-logo"
         title="{{ _("Linode") }}">
        <img src="{{ '/images/linode_logo.svg'|asseturl }}" height="60px"/>
      </a>
      <!--
        Source: https://www.vultr.com/affiliate/
        License: Public Domain
        Notes: This image consists only of simple geometric shapes or text.
        It does not meet the threshold of originality needed for copyright
        protection, and is therefore in the public domain.
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.vultr.com/" class="provider-logo"
         title="{{ _("Vultr") }}">
        <img src="{{ '/images/vultr_logo.svg'|asseturl }}" height="60px"/>
      </a>
      <!--
        Source: https://commons.wikimedia.org/wiki/File:Logo_Hetzner.svg
        License: Public Domain
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.hetzner.com/" class="provider-logo provider-hetzner"
         title="{{ _("Hetzner") }}">
        <img src="{{ '/images/hetzner_logo.svg'|asseturl }}" width="100px"/>
      </a>
      <!--
        Source: https://www.scaleway.com/about/
        License: Public Domain
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.scaleway.com/" class="provider-logo"
         title="{{ _("Scaleway") }}">
        <img src="{{ '/images/scaleway_logo.svg'|asseturl }}" height="60px"/>
      </a>
      <!--
        Source: https://commons.wikimedia.org/wiki/File:DigitalOcean_logo.svg
        License: Public Domain
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.digitalocean.com/" class="provider-logo"
         title="{{ _("DigitalOcean") }}">
        <img src="{{ '/images/digitalocean_logo.svg'|asseturl }}" height="60px"/>
      </a>
      <!--
        Source: https://aws.amazon.com/architecture/icons/
        License: Public Domain
        Notes: This image consists only of simple geometric shapes or text.
        It does not meet the threshold of originality needed for copyright
        protection, and is therefore in the public domain.
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://amazonlightsail.com/" class="provider-logo"
         title="{{ _("Amazon Lightsail") }}">
        <img src="{{ '/images/lightsail_logo.svg'|asseturl }}" height="60px"/>
      </a>
      <!--
        Source: https://cloud.google.com/icons/
        License: Public Domain
        Notes: This image consists only of simple geometric shapes or text.
        It does not meet the threshold of originality needed for copyright
        protection, and is therefore in the public domain.
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://console.cloud.google.com" class="provider-logo"
         title="{{ _("Google Cloud") }}">
        <img src="{{ '/images/gcp_logo.svg'|asseturl }}" height="60px"/>
      </a>
      <!--
        Source: https://commons.wikimedia.org/wiki/File:Microsoft_Azure_Logo.svg
        License: Public Domain
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://azure.microsoft.com/" class="provider-logo"
         title="{{ _("Microsoft Azure") }}">
        <img src="{{ '/images/azure_logo.svg'|asseturl }}" height="60px"/>
      </a>

    </div>

    <p class="legal">
      {% trans trimmed %}
        All product names, logos, and brands are the intellectual property of
        their respective owners. The use of the logos is for informational
        purposes and does not imply endorsement of FreedomBox by the named
        organizations.
      {% endtrans %}
    </p>
  </section>
{% endblock %}
