{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/cloud.css'|asseturl }}">
{% endblock %}

{% block content %}

  <section class="documentation">
    <p>
      <a href="https://wiki.debian.org/FreedomBox/Cloud#On_AWS_EC2">
        <span class="fa fa-book fa-fw" aria-hidden="true"></span>
        {{ _("Documentation") }}
      </a>
    </p>
  </section>

  <section class="video">
    <div class="embed-responsive embed-responsive-16by9 mt-2">
      <video class="embed-responsive-item" controls>
        <source src="{{ 'FreedomBoxAWS.webm'|asseturl }}"
                type='video/webm;codecs="vp9, vorbis"'/>
        <source src="{{ 'FreedomBoxAWS.mp4'|asseturl }}"
                type='video/mp4"'/>
        <p>
          {% trans trimmed url='FreedomBoxAWS.webm'|asseturl %}
            <a href="{{ url }}">Download</a> a video on how to set up a
            FreedomBox on AWS.
          {% endtrans %}
        </p>
      </video>
    </div>
  </section>

{% endblock %}
