{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/index.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/animated-logo.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/feature-boxes.css'|asseturl }}">
{% endblock %}

{% block content %}
  <section id="about" class="section-about">
    <div class="container">
      <div id="butterfly">
        <div id="wings"></div>
        <div id="wingtop"></div>
      </div>
      <div class="d-flex flex-row justify-content-center mb-5">
        <img src="{{ '/images/freedombox-logo.png'|asseturl }}"
             class="img-fluid logo" alt="{{ _("FreedomBox Logo") }}">
      </div>

      <h1>{{ _("Run your digital services from your home") }}</h1>
      <p>
        {% trans trimmed %}
          FreedomBox is a private server for non-experts: it lets you install
          and configure server applications with only a few clicks. It runs on
          cheap hardware of your choice, uses your internet connection and
          power, and is under your control.
        {% endtrans %}
      </p>
      <img src="{{ '/images/fb-ui.jpg'|asseturl }}" class="img-fluid screenshot"
           alt="{{ _("FreedomBox Logo") }}">
      <div class="button-row">
        <a href="{{ '/'|url }}#get" class="btn btn-primary" role="button">
          {{ _("Get your FreedomBox!") }}</a>
        <a href="{{ '/demo'|url }}" class="btn btn-outline-secondary"
           role="button">
          {{ _("Try a demo") }}</a>
      </div>
    </div>
  </section>

  <section id="privacy" class="section-privacy">
    <div class="container">
      <div class="logo-container">
        <span class="fa fa-eye-slash logo" aria-hidden="true"></span>
      </div>

      <h1>{{ _("Your privacy in safe hands, yours!") }}</h1>
      <p>
        {% trans trimmed %}
          Your digital life should not be in the hands of tech companies or
          governments. Keep it close to you. Literally!
        {% endtrans %}
      </p>
      <blockquote class="blockquote">
        <p>
          {% trans trimmed %}
            We’re building software for smart devices whose engineered purpose
            is to work together to facilitate free communication among people,
            safely and securely, beyond the ambition of the strongest power to
            penetrate. They can make freedom of thought and information a
            permanent, ineradicable feature of the net that holds our souls.
          {% endtrans %}
        </p>
        <footer class="blockquote-footer">{{ _("Eben Moglen (2010)") }}</footer>
      </blockquote>
    </div>
  </section>

  <section id="trust" class="section-debian">
    <div class="container">
      <div class="logo-container">
        <span class="fa fa-debian logo" aria-hidden="true"></span>
      </div>

      <h1>{{ _("Software you can trust") }}</h1>
      <p>
        {% trans trimmed %}
          FreedomBox is <a href="https://www.gnu.org/philosophy/free-sw.en.html">Free
          and Open Source Software</a> and an official part of
          <a href="https://www.debian.org/">Debian</a>, a well established
          GNU/Linux distribution. The project is supported by the non-profit
          <a href="https://freedomboxfoundation.org/">FreedomBox Foundation</a>.
        {% endtrans %}
      </p>
      <div class="button-row">
        <a href="https://salsa.debian.org/freedombox-team/freedombox/"
           class="btn btn-secondary" role="button">
          {{ _("See our source code") }}
        </a>
      </div>
    </div>
  </section>

  <section id="features" class="section-features">
    <h1>{{ _("Features") }}</h1>
    <div class="features">
      <div class="feature feature1">
        <p>
          {% trans trimmed %}
            FreedomBox provides file sharing like Dropbox. Your data stays with
            you. Your family and friends also benefit.
          {% endtrans %}
        </p>
        <div class="graybox"></div>
      </div>

      <div class="feature feature2">
        <p>
          {% trans trimmed %}
            FreedomBox provides a secure, decentralized replacement for
            WhatsApp. Do group chats and audio/video calls from any device.
          {% endtrans %}
        </p>
        <div class="graybox"></div>
      </div>

      <div class="feature feature3">
        <p>
          {% trans trimmed %}
            FreedomBox provides a VPN server. Connect securely to your devices
            at home from outside. Protect your browsing session when on
            untrusted networks.
          {% endtrans %}
        </p>
        <div class="graybox"></div>
      </div>

      <div class="feature small-feature feature4">
        <p>
          {{ _("FreedomBox provides a privacy enhancing proxy server.") }}
        </p>
        <div class="graybox"></div>
      </div>

      <div class="feature small-feature feature5">
        <p>
          {% trans trimmed %}
            FreedomBox can host a blog or a wiki. Host your personal website
            right from your home.
          {% endtrans %}
        </p>
        <div class="graybox"></div>
      </div>

      <div class="feature small-feature feature6">
        <p>
          {{ _("Synchronize your calender and contacts to FreedomBox.") }}
        </p>
        <div class="graybox"></div>
      </div>

      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

    <div class="more-link">
      <a href="https://wiki.debian.org/FreedomBox/Features"
         class="greenbutton">{{ _("and many more...") }}</a>
    </div>
  </section>

  <section id="get" class="section-get">
    <div class="container">
      <h1>{{ _("Be a Pioneer") }}</h1>

      <p>
        {% trans trimmed %}
          FreedomBox is building a movement to decentralize the web. Our users
          are the pioneers of this movement.
        {% endtrans %}
      </p>
      <p class="image">
        <img class="img-fluid" alt="{{ _("Pioneer Edition Board") }}"
             src="{{ '/images/pioneer-edition.png'|asseturl }}" >
      </p>
      <div class="button-row">
        <a href="{{ '/buy'|url }}" role="button" class="btn btn-primary">
          {{ _("Buy a FreedomBox") }}</a>
      </div>
      <div class="button-row">
        <a href="{{ '/download'|url }}" role="button"
           class="btn btn-outline-secondary">
          {{ _("Build your own FreedomBox") }}</a>
        <a href="{{ '/cloud'|url }}" role="button"
           class="btn btn-outline-secondary">
          {{ _("Trial in the cloud") }}</button>
        </a>
      </div>
    </div>
  </section>

  <section id="community" class="section-community">
    <div class="container">
      <div class="logo-container">
        <span class="fa fa-users logo" aria-hidden="true"></span>
      </div>
      <h1>{{ _("Get in touch with the community") }}</h1>
      <p>
        {% trans trimmed %}
          We are part of the greater Free Software community and welcome
          everybody. Please get in touch with us if you want join our effort.
        {% endtrans %}
      </p>
      <div class="button-row">
        <a href="https://wiki.debian.org/FreedomBox/Support"
           role="button" class="btn btn-secondary">{{ _("Get support") }}</a>
        <a href="https://discuss.freedombox.org" role="button"
           class="btn btn-secondary">{{ _("Discuss") }} </a>
        <a href="irc://irc.debian.org/freedombox" role="button"
           class="btn btn-secondary">{{ _("Join our chatroom") }}</a>
      </div>
    </div>
  </section>

{% endblock %}
